/*
@media (max-width: 500px){
	p{
		font size: 200px;
		background-color: yellow;
	}*/

.main_content {
	height: 1000px;
	background-color: pink;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 100px;
	margin-top: 100px;

	width: 50%;
	transition: 2s;
}

.main_content:hover{
	background-color: yellow;
}


/*this is for the nav bar-------------------------------------------*/

.top_navigation{
	width: 100px;
	height: 100px;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	list-style-type: none;
    margin: 500;
    padding: 500;
    overflow: hidden;
    background-color: white;
    position: fixed;
    display: inline-block;
}

.nav_links{
	
	width: 50%;
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.nav_links > li{
	font-size: 22px;
	display:inline-block;

}


}

/*

}
.nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
    position: fixed;
}


}
.nav ul {
  list-style: none;
  background-color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 8px;
  line-height: 40px;
  height: 40px;
  
}
 
.nav a {
  text-decoration: none;
  color: gray;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  color:black;

}
 

@media screen and (min-width: 500px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
*/

/*-------------------------------------------------------------------------------*/



.cat_center{
	position:fixed;
	top: 350px;
	right: 350px;
	
}

.absolute_photo{
	position: absolute;
	top: 100px;
	right: 30px;
	z-index: 10000;
}


.inner_photo{  
	position: relative;
	top: 0px;
	right: 30px;
}



.right_photo{
	float:right;
}
.clear_float {
	clear: both;
}


p{
	font-size:100px;
	

}

.intro_text{
	color:#FF2343;
	font-size:10px;

}

h1.h1{
	text-align: center;
	font-size: 45px;
}



/*this styles the second header in your container*/


h3.intro_text{
	color: gray;
	font-size:18px;
	text-align: center;

}



</body>
</html>
